@import "~style/utilities/colors";
@import "~style/utilities/variables";

$mask-color: rgba($color-black, .16);

.ada-chaperone-drawer {
  &__iframe {
    background-color: $color-white;
    border: 0;
    bottom: 0;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    display: block;
    height: 100vh;
    max-width: 375px;
    outline: none;
    overflow: initial;
    pointer-events: all;
    position: fixed;
    right: 0;
    transform: translate(0, 0);
    transition: transform 200ms ease, opacity 200ms ease;
    width: 100%;
    z-index: 9999;
  }

  &--hidden &__iframe {
    opacity: 0;
    transform: translate(375px, 0);
  }

  &__mask {
    background-color: $mask-color;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    top: 0;
    transition: visibility 200ms ease, opacity 200ms ease;
    visibility: visible;
    width: 100%;
    z-index: 9998;
  }

  &--hidden &__mask {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  &--hidden#{&}--isIE9 &__mask {
    display: none;
  }

  // &--hidden#{&}--mobile-overlay {
  // 	transform: translate(100vw, 0);
  // 	-webkit-transform: translate(100vw, 0);
  // 	-moz-transform: translate(100vw, 0);
  // }

  // &--mobile-overlay {
  // 	max-width: none;
  // 	height: 100%;
  // 	min-height: 100%;
  // }
}
