<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>
  <!-- Cannot put scripts in header because they do not work in IE9 -->
</head>

<body>
  <h1>Ada Embed Testing Page</h1>
  <div id="parent-element"></div>
</body>
<script>
  window.adaSettings = {
    chatterTokenCallback: function(chatter){ console.log("My chatter:", chatter)},
    hideMask: true
  };
</script>
<script 
  async 
  id="__ada" 
  src="/bundle.js"
  data-handle="ada-example" 
></script>

</html>
