<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>
</head>

<body>
  <h1>Chaperone2 testing Page</h1>
  <div id="parent-element"></div>

  <script>
    window.adaSettings = {
      chatterTokenCallback: (chatter) => console.log("My chatter:", chatter)
    };
  </script>
  <script 
    async 
    id="__ada" 
    src="/bundle.js"
    data-handle="ada-example" 
  ></script>
</body>

</html>
